.site-layout .site-layout-background {
  background: #fff;
}

.breadcrumb-nav {
  height: 30px;
  margin-bottom: 16px;
  line-height: 30px;
  background: #f8f8f8;
}
.breadcrumb-nav a {
  padding: 0 8px;
  line-height: 30px;
  color: blue;
}